header h1{
    border: solid 1px purple;
    padding: 3%;
    margin: 10px;
    text-align: center;
    border-radius: 60px;
    width: 60%;
    background-color: lightcoral;
    letter-spacing: 0.2cm;
    font-variant: small-caps;
    background-position: center;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkviolet;
}
li{
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
li a:hover{
    background-color: teal;
}
footer{
    text-align: center;
    margin: auto;
    background-color: darkred;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
title{
    background-position: center;
    text-align: center;
}
section{
    background-color: lawngreen ;
}
section h2{
    text-align: center;
    background-position: center;
    border-radius: 60%;
    font-weight: bold;
}
section div{
    text-align: center;
    font-weight: bold;
}
ul li{
    text-align: center;
}
section#lingid{
    
}


