table#LHT, td{
    width: 60%;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
table#Keeruline td{
    width: 20%;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    background-color: darkcyan;
}

table#Keeruline1, table#Keeruline1 td{
    width: 50%;
    border: 1px solid black;
    text-align: center;
    padding: 3px;
    background-color: darkmagenta;
    color: white;
}
table#Keeruline2, table#Keeruline2 td{
    width: 20%;
    border: 1px solid black;
    text-align: center;
    padding: 3px;
    background-color: darkred;
    color: white;
}
